<%-include(`../includes/start.ejs`)%> 
<div id="app--container">
    <main class="app--content">
      <div class="header--logo">
        <img src="/logo/logo.png" class="logoImg"/>
      </div>
      <div class="header--content">
        <h1 class="header--content--heading">Welcome to Mascot</h1>
        <p class="header--content--subheading">
          Make the most of your professional life.
        </p>
      </div>
      <form class="signup--form" action="/signup" method="post">
        <div class="form--input--floating">
          <label class="form--label--floating" id="label--email"
            >Email or Phone</label
          >
          <input id="input--email" name="email"/>
        </div>
        <div class="form--input--floating">
          <label class="form--label--floating" id="label--password"
            >Password</label
          >
          <input id="input--password" type="password" name="password"/>
        </div>
        <p style="margin-bottom: 1rem;">
          By clicking Agree & Join, you agree to the
          <a href="#">Mascot's User Agreement</a>,
          <a href="/privacy">Privacy Policy</a>, and <a href="#">Cookie Policy</a>.
        </p>
        <% if(errorMessage){%>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div
          class="signup--form-container signup--form-container--multiple-actions"
        >
          <button
            id="signupButton"
            class="btn btn-lg btn-primary"
            aria-label="Sign in"
            onclick=""
            type="submit"
          >
            Agree & Join
          </button>
        </div>
      </form>
      <!-- <div class="footer-app-content-actions">
        <p>
          New to Mascot?
          <a href="#">Join now</a>
        </p>
      </div> -->
    </main>
  </div>
<script src="/scripts/signup.js"></script>
<%-include('../includes/end.ejs')%> 