<%-include(`../includes/start.ejs`)%> 
<%-include(`../includes/nav.ejs`)%> 
<main class="mainEventContainer">
    <div class="event--header">
      <h1 class="event--heading">Events</h1>
      <button class="text-button">Create New Event</button>
    </div>

    <div class="card--container">
      <div>
        <h4>Top Audio Events</h4>
        <div class="card--row">
          <div class="cardEvent">
            <img
              class="card--image center"
              src="/images/eventT1.png"
              alt=""
            />
            <h6 class="card--time">
              Mon, Mar 20, 2023, 10:00 PM || Live Audio
            </h6>
            <a href="#"
              ><h6 class="card--heading">
                Episode 2: Environmental Justice Updates (Week of March 13 -
                March 19)
              </h6></a
            >
            <h6 class="card--venue">Jose Almanzar || 40 attendees</h6>
            <div class="eventButton">
              <button class="btn btn-md btn-outline-info card--button">
                View
              </button>
            </div>
          </div>
          <div class="cardEvent">
            <img
              class="card--image center"
              src="/images/eventT2.jpg"
              alt=""
            />
            <h6 class="card--time">
              Sun, Mar 19, 2023, 3:00 PM || Live Audio
            </h6>
            <a href="#"
              ><h6 class="card--heading">
                The Current Financial Crisis in Pakistan and why should India
                worry?
              </h6></a
            >
            <h6 class="card--venue">
              The 5 Min Legal Podcast || 31 attendees
            </h6>
            <div class="eventButton">
              <button class="btn btn-md btn-outline-info card--button">
                View
              </button>
            </div>
          </div>
          <div class="cardEvent">
            <img
              class="card--image center"
              src="/images/eventT3.png"
              alt=""
            />
            <h6 class="card--time">
              Sun, Mar 19, 2023, 11:00 AM || Live Audio
            </h6>
            <a href="#"
              ><h6 class="card--heading">
                Is It Worth Migrating to Canada ?
              </h6></a
            >
            <h6 class="card--venue">Anjali Kumari || 111 attendees</h6>
            <div class="eventButton">
              <button class="btn btn-md btn-outline-info card--button">
                View
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card--container">
      <div>
        <h4>Recommended to you</h4>
        <div class="card--row">
          <div class="cardEvent">
            <img
              class="card--image center"
              src="/images/eventR1.jpg"
              alt=""
            />
            <h6 class="card--time">
              Mon, Mar 20, 2023, 10:00 PM || Live Audio
            </h6>
            <a href="#"><h6 class="card--heading">Future of HR 2023</h6></a>
            <h6 class="card--venue">Future of HR || 40,173 attendees</h6>
            <div class="eventButton">
              <button class="btn btn-md btn-outline-info card--button">
                View
              </button>
            </div>
          </div>
          <div class="cardEvent">
            <img
              class="card--image center"
              src="/images/eventR2.jpg"
              alt=""
            />
            <h6 class="card--time">
              Mon, Mar 20, 2023, 10:00 PM || Live Audio
            </h6>
            <a href="#"
              ><h6 class="card--heading">
                From foundations to beams: An in-depth look at CYPE's
                composite structures
              </h6></a
            >
            <h6 class="card--venue">Qiming W. || 1,975 attendees</h6>
            <div class="eventButton">
              <button class="btn btn-md btn-outline-info card--button">
                View
              </button>
            </div>
          </div>
          <div class="cardEvent">
            <img
              class="card--image center"
              src="/images/eventR3.jpg"
              alt=""
            />
            <h6 class="card--time">
              Mon, Mar 20, 2023, 10:00 PM || Live Audio
            </h6>
            <a href="#"
              ><h6 class="card--heading">
                UpLevel FearLessly MasterClass
              </h6></a
            >
            <h6 class="card--venue">
              Sherry Khachatryan, Holistic Life Coach || 316 attendees
            </h6>
            <div class="eventButton">
              <button class="btn btn-md btn-outline-info card--button">
                View
              </button>
            </div>
          </div>
        </div>
        <div class="card--row">
          <div class="cardEvent">
            <img
              class="card--image center"
              src="/images/eventR4.jpg"
              alt=""
            />
            <h6 class="card--time">
              Mon, Mar 20, 2023, 10:00 PM || Live Audio
            </h6>
            <a href="#"
              ><h6 class="card--heading">
                Project Manager & Business Analyst Collaboration
              </h6></a
            >
            <h6 class="card--venue">Angela Wick || 830 attendees</h6>
            <div class="eventButton">
              <button class="btn btn-md btn-outline-info card--button">
                View
              </button>
            </div>
          </div>
          <div class="cardEvent">
            <img
              class="card--image center"
              src="/images/eventR5.png"
              alt=""
            />
            <h6 class="card--time">
              Mon, Mar 20, 2023, 10:00 PM || Live Audio
            </h6>
            <a href="#"
              ><h6 class="card--heading">ğğ„ğ“ğ‘ğ„ğ‹ ğ’ğğ…ğ“ğ–ğ€ğ‘ğ„ ğ“ğ‘ğ€ğˆğğˆğğ†</h6></a
            >
            <h6 class="card--venue">
              Petroleum Engineers Association || 3,228 attendees
            </h6>
            <div class="eventButton">
              <button class="btn btn-md btn-outline-info card--button">
                View
              </button>
            </div>
          </div>
          <div class="cardEvent">
            <img
              class="card--image center"
              src="/images/eventR6.jpg"
              alt=""
            />
            <h6 class="card--time">
              Mon, Mar 20, 2023, 10:00 PM || Live Audio
            </h6>
            <a href="#"
              ><h6 class="card--heading">
                WE'RE BACK: Coffee with Massimo â˜•ï¸
              </h6></a
            >
            <h6 class="card--venue">Workato || 326 attendees</h6>
            <div class="eventButton">
              <button class="btn btn-md btn-outline-info card--button">
                View
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%-include(`../includes/end.ejs`)%> 