<%-include(`../inlcudes/start.ejs`)%> 
<%-include(`../inlcudes/nav.ejs`)%> 
  <main class="groupContainer">
    <div class="left-group-content">
      <div class="card">
        <div class="groupNavOption">
          <div class="leftPanel">
            <a href="#">your groups</a>
            <a href="#">Requested</a>
          </div>
          <div class="rightPanel">
            <button class="text-button">Create group</button>
          </div>
        </div>
        <div class="groupBody">
          <h2>Discover groups</h2>
          <p>Find other trusted communities that share and support your goals.</p>
          <button class="text-button">
            Discover
          </button>
        </div>
      </div>
    </div>
    <div class="right-group-content content">
      <div class="card">
        <h5>Groups you might be interested in</h5>
        <div class="groupSuggestion">
          <img src="https://media.licdn.com/dms/image/C5607AQEMr3u6wNeIUA/group-logo_image-shrink_48x48/0/1631008731811?e=1679763600&v=beta&t=qSUCFR1tbMwoNENqAo7v8rbMDPEJjKAx2vm0D0s5uVw" alt="suggestionIcon">
          <div class="nameAndOption">
            <div class="specialLink">
              <a href="#">Microsoft Learn Student Ambassadors</a>
            </div>
            <p>63,065 members</p>
            <button class="text-button">Join</button>
          </div>
        </div>
        <div class="groupSuggestion">
          <img src="https://media.licdn.com/dms/image/C5607AQEMr3u6wNeIUA/group-logo_image-shrink_48x48/0/1631008731811?e=1679763600&v=beta&t=qSUCFR1tbMwoNENqAo7v8rbMDPEJjKAx2vm0D0s5uVw" alt="suggestionIcon">
          <div class="nameAndOption">
            <div class="specialLink">
              <a href="#">Microsoft Learn Student Ambassadors</a>
            </div>
            <p>63,065 members</p>
            <button class="text-button">Join</button>
          </div>
        </div>
        <div class="groupSuggestion">
          <img src="https://media.licdn.com/dms/image/C5607AQEMr3u6wNeIUA/group-logo_image-shrink_48x48/0/1631008731811?e=1679763600&v=beta&t=qSUCFR1tbMwoNENqAo7v8rbMDPEJjKAx2vm0D0s5uVw" alt="suggestionIcon">
          <div class="nameAndOption">
            <div class="specialLink">
              <a href="#">Microsoft Learn Student Ambassadors</a>
            </div>
            <p>63,065 members</p>
            <button class="text-button">Join</button>
          </div>
        </div>
        <div class="groupSuggestion">
          <img src="https://media.licdn.com/dms/image/C5607AQEMr3u6wNeIUA/group-logo_image-shrink_48x48/0/1631008731811?e=1679763600&v=beta&t=qSUCFR1tbMwoNENqAo7v8rbMDPEJjKAx2vm0D0s5uVw" alt="suggestionIcon">
          <div class="nameAndOption">
            <div class="specialLink">
              <a href="#">Microsoft Learn Student Ambassadors</a>
            </div>
            <p>63,065 members</p>
            <button class="text-button">Join</button>
          </div>
        </div>
        <div class="groupSuggestion">
          <img src="https://media.licdn.com/dms/image/C5607AQEMr3u6wNeIUA/group-logo_image-shrink_48x48/0/1631008731811?e=1679763600&v=beta&t=qSUCFR1tbMwoNENqAo7v8rbMDPEJjKAx2vm0D0s5uVw" alt="suggestionIcon">
          <div class="nameAndOption">
            <div class="specialLink">
              <a href="#">Microsoft Learn Student Ambassadors</a>
            </div>
            <p>63,065 members</p>
            <button class="text-button">Join</button>
          </div>
        </div>
        <div class="showAllGroup">
          <a href="#" >Show All --></a>
        </div>
      </div>
      <%-include(`../inlcudes/footer.ejs`)%> 
      
    </div>
  </main>
<%-include(`../inlcudes/end.ejs`)%> 