<%-include(`../includes/start.ejs`)%> 
<%-include(`../includes/nav.ejs`)%> 
<main class="mainContainer">
  <div class="left-content content">
    <div class="card profileCard">
      <div class="cover"></div>
      <div class="profileInfo">
        <img src="/images/picture.jpeg" alt="profileImg" class="profileImg" />
        <strong class="userName">Random Name</strong>
        <small class="userProfession">Full Stack Developer</small>
        <span>IIIT SRI CITY</span>
      </div>
      <div class="connection">
        <strong>6645</strong>
        <small>Connections</small>
        <!-- <span><a href="#">connect with alumni</a></span> -->
      </div>
      <div class="specialLink">
        <a href="/profile">My Profile</a>
      </div>
    </div>
    <div class="card left-group">
      <h5>Connect with more people .....</h5>
      <div class="connectSuggestion">
        <div class="connectProfile">
          <img src="/images/example-person.jpeg" alt="personImg" />
          <div class="connectInfo">
            <strong>Random Name</strong>
            <small>Android Developer</small>
          </div>
        </div>
        <button>Connect</button>
      </div>
      <div class="connectSuggestion">
        <div class="connectProfile">
          <img src="/images/example-person.jpeg" alt="personImg" />
          <div class="connectInfo">
            <strong>Random Name</strong>
            <small>Android Developer</small>
          </div>
        </div>
        <button>Connect</button>
      </div>
      <div class="connectSuggestion">
        <div class="connectProfile">
          <img src="/images/example-person.jpeg" alt="personImg" />
          <div class="connectInfo">
            <strong>Random Name</strong>
            <small>Android Developer</small>
          </div>
        </div>
        <button>Connect</button>
      </div>
      <div class="connectSuggestion">
        <div class="connectProfile">
          <img src="/images/example-person.jpeg" alt="personImg" />
          <div class="connectInfo">
            <strong>Random Name</strong>
            <small>Android Developer</small>
          </div>
        </div>
        <button>Connect</button>
      </div>
      <div class="specialLink">
        <a href="#">Show More</a>
      </div>
    </div>
  </div>
  <div class="center-content content">
    <div class="card">
      <div class="postBox">
        <div class="profileImgPost">
          <img src="/images/picture.jpeg" alt="profileImg" />
        </div>
        <input type="text" placeholder="Start a post" />
      </div>
      <div class="buttonBox">
        <div class="specialLink">
          <a href="#"><i class="fa-regular fa-image"></i> Photo</a>
        </div>
        <div class="specialLink">
          <a href="#"><i class="fa-brands fa-youtube"></i> Video</a>
        </div>
        <div class="specialLink">
          <a href="#"><i class="fa-regular fa-calendar-days"></i> Event</a>
        </div>
        <div class="specialLink">
          <a href="#"
            ><i class="fa-regular fa-newspaper"></i> Write an article</a
          >
        </div>
      </div>
    </div>
    <div class="card">
      <div class="userProfile">
        <div class="profileImgPost">
          <img
            src="https://media.licdn.com/dms/image/C4E03AQFvrWS9EkYORA/profile-displayphoto-shrink_100_100/0/1637419778853?e=1681948800&v=beta&t=YaRilhsIphDz5-2mkB4joH2yrbiVgzzIxmuKAw4Ri7E"
            alt="profileImg"
          />
        </div>
        <div class="userInfo">
          <h5>Tushar Pathak</h5>
          <p>IIITS | CSE | 2025</p>
        </div>
      </div>
      <div class="caption">
        <p>This is the kind of impact we want in our life</p>
      </div>
      <div class="imagePost">
        <img
          src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210310114057/web-development-image.png"
          alt="post"
        />
      </div>
      <div class="actionBar">
        <div class="specialLink">
          <a href="#"><i class="fa-regular fa-thumbs-up"></i> Like</a>
        </div>
        <div class="specialLink">
          <a href="#"><i class="fa-regular fa-comment"></i> Comment</a>
        </div>
        <div class="specialLink">
          <a href="#"
            ><i class="fa-sharp fa-solid fa-arrows-rotate"></i> Repost</a
          >
        </div>
        <div class="specialLink">
          <a href="#"><i class="fa-sharp fa-solid fa-paper-plane"></i> Send</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="userProfile">
        <div class="profileImgPost">
          <img
            src="https://media.licdn.com/dms/image/C4E03AQFvrWS9EkYORA/profile-displayphoto-shrink_100_100/0/1637419778853?e=1681948800&v=beta&t=YaRilhsIphDz5-2mkB4joH2yrbiVgzzIxmuKAw4Ri7E"
            alt="profileImg"
          />
        </div>
        <div class="userInfo">
          <h5>Tushar Pathak</h5>
          <p>IIITS | CSE | 2025</p>
        </div>
      </div>
      <div class="caption">
        <p>This is the kind of impact we want in our life</p>
      </div>
      <div class="imagePost">
        <img
          src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210310114057/web-development-image.png"
          alt="post"
        />
      </div>
      <div class="actionBar">
        <div class="specialLink">
          <a href="#"><i class="fa-regular fa-thumbs-up"></i> Like</a>
        </div>
        <div class="specialLink">
          <a href="#"><i class="fa-regular fa-comment"></i> Comment</a>
        </div>
        <div class="specialLink">
          <a href="#"
            ><i class="fa-sharp fa-solid fa-arrows-rotate"></i> Repost</a
          >
        </div>
        <div class="specialLink">
          <a href="#"><i class="fa-sharp fa-solid fa-paper-plane"></i> Send</a>
        </div>
      </div>
    </div>
  </div>
  <div class="right-content content">
    <div class="card">
      <h5>Mascot News</h5>
      <ul class="newsSection">
        <li>
          <i class="fa-solid fa-circle"></i> Lorem ipsum dolor sit, amet
          consectetur adipisicing elit. Voluptatem, nostrum.
        </li>
        <li>
          <i class="fa-solid fa-circle"></i> Lorem ipsum dolor sit, amet
          consectetur adipisicing elit. Voluptatem, nostrum.
        </li>
        <li>
          <i class="fa-solid fa-circle"></i> Lorem ipsum dolor sit, amet
          consectetur adipisicing elit. Voluptatem, nostrum.
        </li>
        <li>
          <i class="fa-solid fa-circle"></i> Lorem ipsum dolor sit, amet
          consectetur adipisicing elit. Voluptatem, nostrum.
        </li>
        <li>
          <i class="fa-solid fa-circle"></i> Lorem ipsum dolor sit, amet
          consectetur adipisicing elit. Voluptatem, nostrum.
        </li>
      </ul>
      <div class="specialLink">
        <a href="#">Show More</a>
      </div>
    </div>
    <div class="card">
      <div class="upperCard">
        <div class="specialLink">
          <a href="/group">Groups</a>
        </div>
        <div class="specialLink">
          <a href="/events">Events</a>
        </div>
        <div class="specialLink">
          <a href="#">Followed Hashtags</a>
        </div>
      </div>
      <div class="discover">
        <a href="#">Discover More</a>
      </div>
    </div>
    <%-include(`../includes/footer.ejs`)%> 
  </div>
</main>
<%-include(`../includes/end.ejs`)%>