<%-include(`../includes/start.ejs`)%> 
<%-include(`../includes/nav.ejs`)%>
<main class="job-container">
    <div class="continer-left">
        <div class="card left-nav">
            <div style="display: flex; flex-direction: row; gap: .5rem; align-items: center;">
                <span class="material-symbols-rounded job-icon">bookmark</span>
                <div style="font-size: 15px;">My Jobs</div>
            </div>
            <div style="display: flex; flex-direction: row; gap: .5rem; align-items: center;">
                <span class="material-symbols-rounded job-icon">notifications_active</span>
                <div style="font-size: 15px;">Job Alerts</div>
            </div>
            <div style="display: flex; flex-direction: row; gap: .5rem; align-items: center;">
                <span class="material-symbols-rounded job-icon">assignment_turned_in</span>
                <div style="font-size: 15px;">Skill Assessments</div>
            </div>
            <div style="display: flex; flex-direction: row; gap: .5rem; align-items: center;">
                <span class="material-symbols-rounded job-icon">assignment</span>
                <div style="font-size: 15px;">Interview Prep</div>
            </div>
            <div style="display: flex; flex-direction: row; gap: .5rem; align-items: center;">
                <span class="material-symbols-rounded job-icon">description</span>
                <div style="font-size: 15px;">Resume Builder</div>
            </div>
            <div style="display: flex; flex-direction: row; gap: .5rem; align-items: center;">
                <span class="material-symbols-rounded job-icon">youtube_activity</span>
                <div style="font-size: 15px;">Career Guidance</div>
            </div>
            <div style="display: flex; flex-direction: row; gap: .5rem; align-items: center;">
                <span class="material-symbols-rounded job-icon">settings</span>
                <div style="font-size: 15px;">Application Settings</div>
            </div>
        </div>
    </div>
    <div class="container-main">
        <!-- <div class="card job-card-container">
            <div class="container-title">
                <div style="font-size: 18px; font-weight: 600; color: white;">Recommended for you</div>
                <div style="font-size: 13px; font-weight: normal;">Based on your job searches, profile and search history</div>
            </div>
            <div class="job-card">
                <div class="company-image">
                    <img src="/media/logo/logo.png" height="50px" width="50px" />
                </div>
                <div class="company-info">
                    <div style="display: flex; flex-direction: row; justify-content: space-between;">
                        <div style="color: white; font-size: 18px; font-weight: 450;" class="job-name">Developer</div>
                        <div style="display: flex; flex-direction: row; gap: 2rem; font-size: 18px;">
                            <span class="material-symbols-rounded job-icon job-visibility">visibility_off</span>
                            <span class="material-symbols-rounded job-icon">bookmark</span>
                        </div>
                    </div>
                    <div class="company-name">Posted by <span style="font-weight: bold;">Company 1</span></div>
                    <div class="company-location">Chennai, Tamil Nadu, India <span style="font-size: 15px;">|</span> On-site</div>
                    <div class="posted-time">Posted 1day ago</div>
                    <div style="display: flex; flex-direction: row; padding-top: 5px; gap: 4px;">
                        <span class="material-symbols-rounded job-icon" style="color: orange; font-size: 25px;">star</span>
                        <div>Actively Hiring</div>
                    </div>
                </div>
            </div>
            <div class="job-card">
                <div class="company-image">
                    <img src="/media/logo/logo.png" height="50px" width="50px" />
                </div>
                <div class="company-info">
                    <div style="display: flex; flex-direction: row; justify-content: space-between;">
                        <div style="color: white; font-size: 18px; font-weight: 450;" class="job-name">Web Developer</div>
                        <div style="display: flex; flex-direction: row; gap: 2rem; font-size: 18px;">
                            <span class="material-symbols-rounded job-icon job-visibility">visibility_off</span>
                            <span class="material-symbols-rounded job-icon">bookmark</span>
                        </div>
                    </div>
                    <div class="company-name">Posted by <span style="font-weight: bold;">Company 1</span></div>
                    <div class="company-location">Chennai, Tamil Nadu, India <span style="font-size: 15px;">|</span> On-site</div>
                    <div class="posted-time">Posted 1day ago</div>
                    <div style="display: flex; flex-direction: row; padding-top: 5px; gap: 4px;">
                        <span class="material-symbols-rounded job-icon" style="color: orange; font-size: 25px;">star</span>
                        <div>Actively Hiring</div>
                    </div>
                </div>
            </div>
            <div class="job-card">
                <div class="company-image">
                    <img src="/media/logo/logo.png" height="50px" width="50px" />
                </div>
                <div class="company-info">
                    <div style="display: flex; flex-direction: row; justify-content: space-between;">
                        <div style="color: white; font-size: 18px; font-weight: 450;" class="job-name">Android Developer</div>
                        <div style="display: flex; flex-direction: row; gap: 2rem; font-size: 18px;">
                            <span class="material-symbols-rounded job-icon job-visibility">visibility_off</span>
                            <span class="material-symbols-rounded job-icon">bookmark</span>
                        </div>
                    </div>
                    <div class="company-name">Posted by <span style="font-weight: bold;">Company 1</span></div>
                    <div class="company-location">Chennai, Tamil Nadu, India <span style="font-size: 15px;">|</span> On-site</div>
                    <div class="posted-time">Posted 1day ago</div>
                    <div style="display: flex; flex-direction: row; padding-top: 5px; gap: 4px;">
                        <span class="material-symbols-rounded job-icon" style="color: orange; font-size: 25px;">star</span>
                        <div>Actively Hiring</div>
                    </div>
                </div>
            </div>
            <div class="job-card">
                <div class="company-image">
                    <img src="/media/logo/logo.png" height="50px" width="50px" />
                </div>
                <div class="company-info">
                    <div style="display: flex; flex-direction: row; justify-content: space-between;">
                        <div style="color: white; font-size: 18px; font-weight: 450;" class="job-name">Web Developer</div>
                        <div style="display: flex; flex-direction: row; gap: 2rem; font-size: 18px;">
                            <span class="material-symbols-rounded job-icon job-visibility">visibility_off</span>
                            <span class="material-symbols-rounded job-icon">bookmark</span>
                        </div>
                    </div>
                    <div class="company-name">Posted by <span style="font-weight: bold;">Company 1</span></div>
                    <div class="company-location">Chennai, Tamil Nadu, India <span style="font-size: 15px;">|</span> On-site</div>
                    <div class="posted-time">Posted 1day ago</div>
                    <div style="display: flex; flex-direction: row; padding-top: 5px; gap: 4px;">
                        <span class="material-symbols-rounded job-icon" style="color: orange; font-size: 25px;">star</span>
                        <div>Actively Hiring</div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="card">
            <h2>Jobs Posted</h2>
        </div>
        <main class="app--content">
            <div class="header--logo">
              <img src="/logo/logo.png" class="logoImg"/>
            </div>
            <div class="header--content">
              <h1 class="header--content--heading">Welcome Back</h1>
              <p class="header--content--subheading">
                Don't miss your next opportunity.<br> Sign in to stay updated on your
                professional world.
              </p>
            </div>
            <form class="login--form" action="/login" id="login--form" method="post">
              <div class="form--input--floating">
                <label class="form--label--floating" id="label--email">
                  Email or Phone
                </label>
                <input id="input--email" type="email" autocomplete="false" name="email"/>
              </div>
              <div class="form--input--floating">
                <label class="form--label--floating" id="label--password"
                  >Password</label
                >
                <input id="input--password" type="password" name="password"/>
              </div>
              <div class="login--form--forgot--container">
                <a href="#" class="linkStyle">Forgot password?</a>
              </div>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <div
                class="login--form-container login--form-container--multiple-actions"
              >
                <button
                  id="loginButton"
                  class="btn btn-lg btn-primary"
                  type="submit"
                  aria-label="Sign in"  
                >
                  Sign in
                </button>
                <button
                  class="btn btn-lg btn-secondary"
                  aria-label="Cancel"
                >
                  Cancel
                </button>
              </div>
            </form>
            <div class="footer-app-content-actions">
              <p>
                New to Mascot?
                <a href="/signup" class="linkStyle">Join now</a>
              </p>
            </div>
          </main>
    </div>
    <div class="container-right">
        <div class="card job-helper">
            <div style="display: flex; flex-direction: column;">
                <div style="font-size: 18px; font-weight: 600; color: white;">Job Seeker Guidance</div>
            </div>
            <div style="display: flex; flex-direction: column; gap: 5px; font-size: 13px; color: #cacaca;">
                <img src="/images/job-hunt.svg" width="80%" alt="job-hunt" style="padding-left: 10%;"/>
                <div>
                    Looking to advance your career and land your next job opportunity? Our expert-led courses are designed to provide you with the tools and knowledge you need to take your career to the next level. Our courses cover a wide range of topics, including resume writing, interview skills, networking strategies, job searching techniques, and more. Whether you're just starting out in your career or looking to make a career change, our courses are tailored to meet your needs and help you achieve your goals.
                </div>
                <div>
                    Our courses are led by industry experts with years of experience in their respective fields. They will guide you through each step of the process, providing practical advice and actionable tips to help you succeed. You'll learn how to create a winning resume that highlights your skills and accomplishments, craft effective cover letters that grab the attention of hiring managers, and develop a strong professional network that can help you uncover hidden job opportunities.
                </div>
                <div>
                    In addition to our core courses, we also offer a variety of specialized courses to help you develop specific skills or address specific challenges. Whether you need help with public speaking, time management, or negotiation, our courses will provide you with the knowledge and tools you need to succeed.
                </div>
                <div>
                    At the end of each course, you'll receive a certificate of completion that you can add to your resume and LinkedIn profile. This will demonstrate to employers that you are committed to your professional development and have invested in yourself to enhance your skills and knowledge.
                </div>
            </div>
        </div>
    </div>
</main>
<%-include(`../includes/end.ejs`)%> 