<%-include(`../includes/start.ejs`)%> 
<%-include(`../includes/nav.ejs`)%> 
<main class="networkContainer">
  <div class="leftNetworkContent content">
    <div class="card">
      <h5>Manage my network</h5>
      <a href="#" class="network-link">
        <div class="networkCommunity">
          <div class="networkSummary">
            <i class="fa-solid fa-user-group"></i>
            <p>Connections</p>
          </div>
          <div>172</div>
        </div>
      </a>
      <a href="" class="network-link">
        <div class="networkCommunity">
          <div class="networkSummary">
            <i class="fa-regular fa-address-book"></i>
            <p>Contacts</p>
          </div>
          <div>17</div>
        </div>
      </a>
      <a href="" class="network-link">
        <div class="networkCommunity">
          <div class="networkSummary">
            <i class="fa-solid fa-user"></i>
            <p>Following & Followers</p>
          </div>
          <div>72</div>
        </div>
      </a>
      <a href="" class="network-link">
        <div class="networkCommunity">
          <div class="networkSummary">
            <i class="fa-solid fa-users"></i>
            <p>Groups</p>
          </div>
          <div>12</div>
        </div>
      </a>
      <a href="" class="network-link">
        <div class="networkCommunity">
          <div class="networkSummary">
            <i class="fa-regular fa-calendar-days"></i>
            <p>Events</p>
          </div>
          <div>5</div>
        </div>
      </a>
      <a href="" class="network-link">
        <div class="networkCommunity">
          <div class="networkSummary">
            <i class="fa-solid fa-floppy-disk"></i>
            <p>Pages</p>
          </div>
          <div>128</div>
        </div>
      </a>
      <a href="" class="network-link">
        <div class="networkCommunity">
          <div class="networkSummary">
            <i class="fa-regular fa-newspaper"></i>
            <p>Newsletters</p>
          </div>
          <div>23</div>
        </div>
      </a>
      <a href="" class="network-link">
        <div class="networkCommunity">
          <div class="networkSummary">
            <i class="fa-regular fa-hashtag"></i>
            <p>Hashtags</p>
          </div>
          <div>55</div>
        </div>
      </a>
    </div>
    <%-include(`../includes/footer.ejs`)%> 

  </div>
  <div class="rightNetworkContent content">
    <div class="card">
      <div class="networkHead">
        <p>Invitations</p>
        <a href="#">See all 18</a>
      </div>
      <div class="invitation">
        <div class="userProfile networkUserProfile">
          <div class="profileImgPost">
            <img
              src="https://media.licdn.com/dms/image/C4E03AQFvrWS9EkYORA/profile-displayphoto-shrink_100_100/0/1637419778853?e=1681948800&v=beta&t=YaRilhsIphDz5-2mkB4joH2yrbiVgzzIxmuKAw4Ri7E"
              alt="profileImg"
            />
          </div>
          <div class="userInfo">
            <h5>Tushar Pathak</h5>
            <p>IIITS | CSE | 2025</p>
          </div>
        </div>
        <div class="networkOption">
          <button class="noborderButton">Ignore</button>
          <button class="text-button">Accept</button>
        </div>
      </div>
      <div class="invitation">
        <div class="userProfile networkUserProfile">
          <div class="profileImgPost">
            <img
              src="https://media.licdn.com/dms/image/C4E03AQFvrWS9EkYORA/profile-displayphoto-shrink_100_100/0/1637419778853?e=1681948800&v=beta&t=YaRilhsIphDz5-2mkB4joH2yrbiVgzzIxmuKAw4Ri7E"
              alt="profileImg"
            />
          </div>
          <div class="userInfo">
            <h5>Tushar Pathak</h5>
            <p>IIITS | CSE | 2025</p>
          </div>
        </div>
        <div class="networkOption">
          <button class="noborderButton">Ignore</button>
          <button class="text-button">Accept</button>
        </div>
      </div>
      <div class="invitation">
        <div class="userProfile networkUserProfile">
          <div class="profileImgPost">
            <img
              src="https://media.licdn.com/dms/image/C4E03AQFvrWS9EkYORA/profile-displayphoto-shrink_100_100/0/1637419778853?e=1681948800&v=beta&t=YaRilhsIphDz5-2mkB4joH2yrbiVgzzIxmuKAw4Ri7E"
              alt="profileImg"
            />
          </div>
          <div class="userInfo">
            <h5>Tushar Pathak</h5>
            <p>IIITS | CSE | 2025</p>
          </div>
        </div>
        <div class="networkOption">
          <button class="noborderButton">Ignore</button>
          <button class="text-button">Accept</button>
        </div>
      </div>
      <div class="showAllGroup">
        <a href="#">Show All <i class="fa-solid fa-arrow-right"></i></a>
      </div>
    </div>
    <div class="card">
      <h5>Suggestions for you</h5>
      <div class="suggestedConnection">
        <div class="card profileCard suggestedCard">
          <div class="cover"></div>
          <div class="profileInfo">
            <img
              src="/images/picture.jpeg"
              alt="profileImg"
              class="profileImg"
            />
            <strong class="userName">Random Name</strong>
            <small class="userProfession">Full Stack Developer</small>
            <span>IIIT SRI CITY</span>
          </div>
          <div class="connection">
            <strong>12</strong>
            <small>Mutual Connections</small>
            <!-- <span><a href="#">connect with alumni</a></span> -->
          </div>
          <div>
            <button class="text-button">
              <i class="fa-solid fa-user-plus"></i> Connect
            </button>
          </div>
        </div>
        <div class="card profileCard suggestedCard">
          <div class="cover"></div>
          <div class="profileInfo">
            <img
              src="/images/picture.jpeg"
              alt="profileImg"
              class="profileImg"
            />
            <strong class="userName">Random Name</strong>
            <small class="userProfession">Full Stack Developer</small>
            <span>IIIT SRI CITY</span>
          </div>
          <div class="connection">
            <strong>12</strong>
            <small>Mutual Connections</small>
            <!-- <span><a href="#">connect with alumni</a></span> -->
          </div>
          <div>
            <button class="text-button">
              <i class="fa-solid fa-user-plus"></i> Connect
            </button>
          </div>
        </div>
        <div class="card profileCard suggestedCard">
          <div class="cover"></div>
          <div class="profileInfo">
            <img
              src="/images/picture.jpeg"
              alt="profileImg"
              class="profileImg"
            />
            <strong class="userName">Random Name</strong>
            <small class="userProfession">Full Stack Developer</small>
            <span>IIIT SRI CITY</span>
          </div>
          <div class="connection">
            <strong>12</strong>
            <small>Mutual Connections</small>
            <!-- <span><a href="#">connect with alumni</a></span> -->
          </div>
          <div>
            <button class="text-button">
              <i class="fa-solid fa-user-plus"></i> Connect
            </button>
          </div>
        </div>
        <div class="card profileCard suggestedCard">
          <div class="cover"></div>
          <div class="profileInfo">
            <img
              src="/images/picture.jpeg"
              alt="profileImg"
              class="profileImg"
            />
            <strong class="userName">Random Name</strong>
            <small class="userProfession">Full Stack Developer</small>
            <span>IIIT SRI CITY</span>
          </div>
          <div class="connection">
            <strong>12</strong>
            <small>Mutual Connections</small>
            <!-- <span><a href="#">connect with alumni</a></span> -->
          </div>
          <div>
            <button class="text-button">
              <i class="fa-solid fa-user-plus"></i> Connect
            </button>
          </div>
        </div>
        <div class="card profileCard suggestedCard">
          <div class="cover"></div>
          <div class="profileInfo">
            <img
              src="/images/picture.jpeg"
              alt="profileImg"
              class="profileImg"
            />
            <strong class="userName">Random Name</strong>
            <small class="userProfession">Full Stack Developer</small>
            <span>IIIT SRI CITY</span>
          </div>
          <div class="connection">
            <strong>12</strong>
            <small>Mutual Connections</small>
            <!-- <span><a href="#">connect with alumni</a></span> -->
          </div>
          <div>
            <button class="text-button">Connect</button>
          </div>
        </div>
        <div class="card profileCard suggestedCard">
          <div class="cover"></div>
          <div class="profileInfo">
            <img
              src="/images/picture.jpeg"
              alt="profileImg"
              class="profileImg"
            />
            <strong class="userName">Random Name</strong>
            <small class="userProfession">Full Stack Developer</small>
            <span>IIIT SRI CITY</span>
          </div>
          <div class="connection">
            <strong>12</strong>
            <small>Mutual Connections</small>
            <!-- <span><a href="#">connect with alumni</a></span> -->
          </div>
          <div>
            <button class="text-button">Connect</button>
          </div>
        </div>
        <div class="card profileCard suggestedCard">
          <div class="cover"></div>
          <div class="profileInfo">
            <img
              src="/images/picture.jpeg"
              alt="profileImg"
              class="profileImg"
            />
            <strong class="userName">Random Name</strong>
            <small class="userProfession">Full Stack Developer</small>
            <span>IIIT SRI CITY</span>
          </div>
          <div class="connection">
            <strong>12</strong>
            <small>Mutual Connections</small>
            <!-- <span><a href="#">connect with alumni</a></span> -->
          </div>
          <div>
            <button class="text-button">Connect</button>
          </div>
        </div>
        <div class="card profileCard suggestedCard">
          <div class="cover"></div>
          <div class="profileInfo">
            <img
              src="/images/picture.jpeg"
              alt="profileImg"
              class="profileImg"
            />
            <strong class="userName">Random Name</strong>
            <small class="userProfession">Full Stack Developer</small>
            <span>IIIT SRI CITY</span>
          </div>
          <div class="connection">
            <strong>12</strong>
            <small>Mutual Connections</small>
            <!-- <span><a href="#">connect with alumni</a></span> -->
          </div>
          <div>
            <button class="text-button">Connect</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<%-include(`../includes/end.ejs`)%> 
