<%-include(`../includes/start.ejs`)%> 
<%-include(`../includes/nav.ejs`)%> 
<main class="mainNotificationContainer">
  <div class="left-content notificationContent">
    <div class="notification--card">
      <div class="notification--image--div">
        <img
          class="notification--card--image"
          src="/images/eventT3.png"
          alt=""
        />
      </div>

      <div class="notification--card--heading">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis
          beatae vel dolorem deleniti minus eaque tempora vero ducimus
          cupiditate consectetur molestiae sint explicabo nulla, voluptatum,
          modi iure, nisi laborum hic?
        </p>
      </div>
      <!-- three dot button here -->
    </div>
    <div class="notification--card">
      <div class="notification--image--div">
        <img
          class="notification--card--image"
          src="/images/eventT3.png"
          alt=""
        />
      </div>

      <div class="notification--card--heading">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis
          beatae vel dolorem deleniti minus eaque tempora vero ducimus
          cupiditate consectetur molestiae sint explicabo nulla, voluptatum,
          modi iure, nisi laborum hic?
        </p>
      </div>
      <!-- three dot button here -->
    </div>
    <div class="notification--card">
      <div class="notification--image--div">
        <img
          class="notification--card--image"
          src="/images/eventT3.png"
          alt=""
        />
      </div>

      <div class="notification--card--heading">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis
          beatae vel dolorem deleniti minus eaque tempora vero ducimus
          cupiditate consectetur molestiae sint explicabo nulla, voluptatum,
          modi iure, nisi laborum hic?
        </p>
      </div>
      <!-- three dot button here -->
    </div>
    <div class="notification--card">
      <div class="notification--image--div">
        <img
          class="notification--card--image"
          src="/images/eventT3.png"
          alt=""
        />
      </div>

      <div class="notification--card--heading">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis
          beatae vel dolorem deleniti minus eaque tempora vero ducimus
          cupiditate consectetur molestiae sint explicabo nulla, voluptatum,
          modi iure, nisi laborum hic?
        </p>
      </div>
      <!-- three dot button here -->
    </div>
    <div class="notification--card">
      <div class="notification--image--div">
        <img
          class="notification--card--image"
          src="/images/eventT3.png"
          alt=""
        />
      </div>

      <div class="notification--card--heading">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis
          beatae vel dolorem deleniti minus eaque tempora vero ducimus
          cupiditate consectetur molestiae sint explicabo nulla, voluptatum,
          modi iure, nisi laborum hic?
        </p>
      </div>
      <!-- three dot button here -->
    </div>
    <div class="notification--card">
      <div class="notification--image--div">
        <img
          class="notification--card--image"
          src="/images/eventT3.png"
          alt=""
        />
      </div>

      <div class="notification--card--heading">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis
          beatae vel dolorem deleniti minus eaque tempora vero ducimus
          cupiditate consectetur molestiae sint explicabo nulla, voluptatum,
          modi iure, nisi laborum hic?
        </p>
      </div>
      <!-- three dot button here -->
    </div>
    <div class="notification--card">
      <div class="notification--image--div">
        <img
          class="notification--card--image"
          src="/images/eventT3.png"
          alt=""
        />
      </div>

      <div class="notification--card--heading">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis
          beatae vel dolorem deleniti minus eaque tempora vero ducimus
          cupiditate consectetur molestiae sint explicabo nulla, voluptatum,
          modi iure, nisi laborum hic?
        </p>
      </div>
      <!-- three dot button here -->
    </div>
    <div class="notification--card">
      <div class="notification--image--div">
        <img
          class="notification--card--image"
          src="/images/eventT3.png"
          alt=""
        />
      </div>

      <div class="notification--card--heading">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis
          beatae vel dolorem deleniti minus eaque tempora vero ducimus
          cupiditate consectetur molestiae sint explicabo nulla, voluptatum,
          modi iure, nisi laborum hic?
        </p>
      </div>
      <!-- three dot button here -->
    </div>
    <div class="notification--card">
      <div class="notification--image--div">
        <img
          class="notification--card--image"
          src="/images/eventT3.png"
          alt=""
        />
      </div>

      <div class="notification--card--heading">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis
          beatae vel dolorem deleniti minus eaque tempora vero ducimus
          cupiditate consectetur molestiae sint explicabo nulla, voluptatum,
          modi iure, nisi laborum hic?
        </p>
      </div>
      <!-- three dot button here -->
    </div>
  </div>
  <!-- <div class="right-content content">
      
    </div> -->
  <div class="right--content">
    <!-- <div class="right--content--top">
      <h5>Manage your Notifications</h5>
      <h6><a href="#">View Settings</a></h6>
    </div> -->
    <%-include(`../includes/footer.ejs`)%> 
  </div>
</main>
<%-include(`../includes/end.ejs`)%> 
