<div class="oneInput">
    <input type="text" class="address" name="address" placeholder="Address">
</div>
<div class="twoInput">
    <input type="text" class="city" name="city" placeholder="City">  
    <input type="number" class="pin-code" name="pinCode" placeholder="Pin-Code">  
</div>
<div class="twoInput">
    <input type="text" class="state" name="state" placeholder="State">  
    <input type="text" class="country" name="country" placeholder="Country">  
</div>
<div class="oneInput">
    <textarea name="bio" name="bio" id="bio" cols="30" rows="5" placeholder="Write a brief about your bio"></textarea>
</div>