<div class="twoInput">
    <input type="text" class="email" name="email" placeholder="Email" value="<% if(editing) { %><%=contact.email %><%}%>" required>  
    <input type="number" class="phone" name="phone" placeholder="Phone Number" value="<% if(editing) { %><%=contact.phone%><%}%>" required>  
</div>