<div class="card">
  <div class="footer">
    <div class="cardImg">
      <img src="/images/connected-world.png" alt="">
    </div>
    <div class="footerContainer">
      <a href="/about">About</a>
      <a href="/accessibility">Accessibility</a>
      <a href="/privacy">Privacy</a>
      <a href="/faq">FAQs</a>
    </div>
  </div>
  <p class="footerBottom">Mascot &copy; 2023. All Rights Reserved.</p>
</div>