<div class="oneInput">
    <input type="text" class="instituteName" name="instituteName" placeholder="Institute Name">
</div>
<div class="twoInput">
    <input type="number" class="joinYear" name="joinYear" placeholder="Joining Year">  
    <input type="number" class="passYear" name="passYear" placeholder="Passing Year">  
</div>